.sudoku-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  border: 1px solid black;
  width: 40px; /* Adjust the size of cell here */
  height: 40px; /* Adjust the size of cell here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.default {
  background-color: black;
}

input {
  width: 80%;
  height: 80%;
  text-align: center;
  border: none;
  outline: none;
  font-size: 18px;
}

